[Unit]
Description=Challawa Pump Monitoring Dashboard
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/root/challawa_np
ExecStart=/usr/bin/python3 /home/root/challawa_np/challawa_app.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
